/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 [hidden] {
 	display: none !important;
 }

body.page-template-template-local-landing-page:not(.template-slider) #Header_wrapper {
	background-position: center !important;
}

.page-template-template-local-landing-page #Subheader {
	margin-top: 40vh;
}

.page-template-template-local-landing-page #Subheader::before {
	position: absolute;
	right: 0;
	bottom: 35px;
	padding: 0 10px;
	font-size: 0.8rem;
	color: white;
	font-weight: 600;
	background: rgba(0,0,0,0.5);
}

.page-template-template-local-landing-page #Subheader .container::before {
	content: '\0020';
	display: block;
	height: 39vh;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	z-index: -1;
}

.page-template-template-local-landing-page .llp-content {
	margin-top: 40px;
}

.page-template-template-local-landing-page .llp-content ul,
.page-template-template-local-landing-page .llp-content ol {
    padding-left: 40px;
    margin: 14px 0;
}

.page-template-template-local-landing-page .llp-content ul {
	list-style: unset;
}

.page-template-template-local-landing-page .llp-content ol {
   	list-style: decimal inside;
}

@media only screen and (max-width: 959px) {
	.page-template-template-local-landing-page #Subheader::before {
		bottom: 10px;
		padding: 5px 10px;
	}
}
